 <div class="container">
            <h2 class="mt-5 ">Info of Badges</h1>
            <p class="lead">Showing the results of: SELECT * FROM badges ORDER BY random() LIMIT 25</p>


            <table class="mt-5 table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">id</th><!-- 
                        <th scope="col">name</th>
                        <th scope="col">userID</th>
                        <th scope="col">date</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        <td scope="row">{{row[0]}}</td><!-- 
                        <td scope="row">{{row[1]}}</td>
                        <td scope="row">{{row[2]}}</td>
                        <td scope="row">{{row[3]}}</td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- <form action="/locations" method="POST">
                <input type="text" name="Loc_Id" id="loc_id">
            <a href="/locations"><button>Start</button></a>
            </form> -->

            <form action="/restaurants" method="POST">
                <input type="text" name="Rest_Id" id="loc_id">
            <a href="/restaurants"><button>Start</button></a>
            </form>
</body>
        </div>