<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
</head>
<ul>
  <li><a href="/homepage">Home</a></li>
  <li style="float:right"><a class="active" href="/">Logout</a></li>
  <li style="float:right"><a href="/userpage">User Page</a></li>
</ul>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/dishrestaurant',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<div class="container">
            <table class="mt-5 table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">name</th> <!--
                        <th scope="col">price</th>
                        <th scope="col">userID</th>
                        <th scope="col">date</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        <td scope="row">
                            <form action="/dishrestaurant" method="POST">
                                <input type="submit" id="{{row[0]}}" name="rest" value="{{row[0]}}"></input>
                            </form>
                        </td>
                         <!--
                        <td scope="row">{{row[1]}}</td>
                        <td scope="row">{{row[2]}}</td>
                        <td scope="row">{{row[3]}}</td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- <form action="/locations" method="POST">
                <input type="text" name="Loc_Id" id="loc_id">
            Start
            </form> -->
        </div>