<head>
<style>

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
</head>
<body>

  <ul>
    <li><a href="/homepage">Home</a></li>
    <li style="float:right"><a class="active" href="/logout">Logout</a></li>
    <li style="float:right"><a href="/userpage">User Page</a></li>
  </ul>
  <form action="/search" method="POST">
  <label for = "search">Search:</label>
  <input type="text" name="search">
  <select id="searchby" name="searchby">
  <option value="2">Search By</option>
  <option value="1">Restaurant</option>
  <option value="2">Dish</option>
  <option value="3">Cuisine</option>
  <option value="4">Location</option>
  </select>
  <select id="orderby" name="orderby">
  <option value="true">Order By</option>
  <option value="true">Descending</option>
  <option value="false">Ascending</option>
  </select>
  <select id="filter" name="filter">
  <option value="rate_5">Filter</option>
  <option value="rate_5">Ratings</option>
  <option value="votes">Votes</option>
  </select>
    </form>

<div class="container">
            <table class="mt-5 table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Ratings</th>
                        <th scope="col">Approx Cost</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        <td scope="row">
                            <form action="/{{row[4]}}/dishrestaurant" method="POST">
                                <input type="submit" id="{{row[0]}}" name="rest" value="{{row[0]}}"style="background:none;border:0;color:#000000"></input>
                            </form>
                        </td>
                        <td scope="row">{{row[1]}}</td>
                        <td scope="row">{{row[2]}}</td>
                        <td scope="row">{{row[3]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- <form action="/locations" method="POST">
                <input type="text" name="Loc_Id" id="loc_id">
            Start
            </form> -->
        </div>
