<title> Pomodoro </title>
<head>
	<link rel="stylesheet" type="text/css" href="register.css">
</head>
<form action="/register" method="POST">
  <label for="firstname">First Name: </label>
    <input type="text" name="firstname" id="firstname">
    <br><br>
  <label for="lastname">Last Name: </label>
    <input type="text" name="lastname" id="lastname">
    <br><br>
  <label for="emailid">Email-Id: </label>
    <input type="text" name="emailid" id="emailid">
    <br><br>
  <label for="gender">Gender: </label>
    <select id="gender" name="gender">
      <option value="select">Select Gender</option>
	  <option value="male">Male</option>
	  <option value="female">Female</option>
	  <option value="other">Other</option>
	</select>
    <br><br>
  <label for="location">Location: </label>
    <input type="text" name="location" id="location">
    <br><br>
  <label for="phonenum">Phone Number: </label>
    <input type="text" name="phonenum" id="phonenum">
    <br><br>
  <label for="dob">Date of Birth: </label>
    <input type="date" name="dob" id="dob">
    <br><br>
  <label for="username">Username: </label>
    <input type="text" name="username" id="username">
    <br><br>
  <label for="password">Password: </label>
    <input type="text" name="password" id="password">
    <br><br>

  <p><font color="red">             {{message}}           </font></p>
  <input type="submit" value="Register">
  <a href="users.html">Login Page</a>
  <br><br><br><br>
</form>
